.search-bar {
    /*mobile version*/
    background: #fff;
    -webkit-box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
}

@media only screen and (min-width: 768px) {
    .search-bar {
        border-radius: 10rem;
        background: #fff;
        -webkit-box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
        box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
    }
}

.search-bar .form-group {
    position: relative;
    margin-bottom: 0;
}

.search-bar .form-control {
    height: -moz-calc(1.5em + 1rem + 2px);
    height: calc(1.5em + 1rem + 2px);
}

.search-bar .input-label-absolute-right .label-absolute {
    right: 0;
}

.bck-jor{
    border: 1px solid #adb5bd;
}

.input-label-absolute {
    position: relative;
}

.input-label-absolute-right .form-control {
    padding-right: 2rem;
}

.label-absolute {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #868e96;
}

.rounded-xl {
    border-radius: 10rem !important;
}

@media only screen and (min-width: 768px) {
    .linerseparator {
        border-right: 1px solid #d3d3d3;
    }
}

@media only screen and (max-width: 768px) {
    .mt-mobile5 {
        margin-top: 5px !important;
    }
}

@media only screen and (max-width: 768px) {
    .width-mobil {
        max-width: 100% !important;
    }
}

.padbutton20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerWin {
    background-color: #8fbc8f5e !important;;
    color: darkgreen;
}

.table-result {
    border: none;
}

.card-main {
    border-radius: .5rem;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    margin-bottom: 1.5rem;
}

.border-radius-xl {
    border-radius: 1rem;
}

.shadow-blur {
    box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
}

.blur {
    box-shadow: inset 0 0 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0,0%,100%,.8)!important;
}

.z-index-2 {
    z-index: 2!important;
}

hr.vertical.dark {
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.4),transparent);
}

hr.vertical {
    position: absolute;
    background-color: transparent;
    height: 100%;
    right: 0;
    top: 0;
    width: 1px;
}

.text-totales {
    font-size: x-large;
    color: #545b62;
}

.text-sm {
    font-size: small !important;
}

.text-formu {
    text-align: left;
    margin-bottom: 0px !important;
}

.bd-callout-info {
    border-left-color: #28a745;
}

.bd-callout {
    padding: 1.25rem;
    border: 1px solid #28a745;
    border-left-width: .25rem;
    border-radius: .25rem;
    background: #fff;
}

.color-home {
    color: #2490d8;
}

.color-visit {
    color: #6ecfd8;
}

.nomargin {
    margin-left: -30px !important;
    margin-right: -30px !important;
    margin-top: 10px !important;
}

.nopaddingr {
    padding-right: 0px !important;
}

.shadow_porc {
    box-shadow: 0 7px 14px 0 rgb(59 65 94 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
}

.text_porc {
    font-family: Poppins,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: bold;
    line-height: 1.2;
    color: #f8f9fa;
    font-size: x-large;
}

.text_italicGrey{
    color: #dae0e5;
    font-style: italic;
}

.tick_display {
    display: inline !important;
}

.card_black {
    background: #494a54;
}

.h6small {
    font-size: 13px;
}

.apps-hero {
    text-align: center;
    background-color: #f8f5f1;
    background-position: center bottom;
    background-repeat: repeat-x;
    /*margin-top: -15px;*/
    /*padding-top: 300px;*/
    background-image: url(//f.hubspotusercontent10.net/hubfs/19495563/raw_assets/public/getharvest-theme/images/backgrounds/wave.svg);
    margin-bottom: 40px;
    height: 70vh;
}

.index_bckgr {
    background-image: url(../images/nuk-pro.png);
    background-size: cover;
    background-position: top;
    top: 10%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    max-width: inherit !important;
    /*max-height: min-content !important;*/
}

.badge-soft-success {
    color: #00864e;
    background-color: #ccf6e4;
    font-size: 40% !important;
}

.badge-soft-warning {
    color: #9d5228;
    background-color: #fde6d8;
    font-size: 40% !important;
}

.cf li {
    overflow: hidden;
    padding: 15px 10px 0;
    background: #454545;
    float: left;
    height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.li-left-radius {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.li-right-radius {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.txt-dato-ppal {
    position: relative;
    z-index: 1;
    font: 44px sourceblack,arial,helvetica;
    color: #ffb713;
    margin-bottom: 0px;
    font-weight: bolder;
}

.txt-ppal {
    position: relative;
    z-index: 1;
    margin-bottom: 3px;
    color: #fff;
    font-size: 13px;
}

.hr-white {
    background-image: linear-gradient(
180deg
,transparent,rgba(240,248,255,.4),transparent);
}

.jorn-anterior {
    padding: 0px;
    float: left;
    width: auto !important;
}

.jorn-posterior {
    padding: 0PX;
    float: right;
    width: auto !important;
}

.jorn-center {
    justify-content: center;
    width: auto !important;
}

.td-border-right {
    border-right: 2px solid #dee2e6;;
}

.td-result {
    border: 1px solid #1e7e34;
    background: #1e7e34;
    color: #fff;
    font-weight: bolder;
}

.td-bg-pronost {
    background-color: #e9ecef5e;
}

.table .thead-light th:last-child {
    width: 30%;
}

.table .tdbody-light td {
    font-size: large;
}

.date_jornada {
    font-size: small;
}

.pronost{
    border-radius: .5rem;
    background-color: #fff !important;
    /*width: 30px;*/
    height: 30px;
    color: darkcyan;
}

.acierto{ 
    font-size: 22px !important;
    color: #00864e;
    background-color: #dcf7dc;
}

