{% extends 'base.html' %}

{% block content %}
<div class="container width-mobil pt-3">
    <!-- card equipos -->
    <div class="card-deck mb-2 text-center">
        <div class="card {{'border-success' if data.puntos_local > data.puntos_visita }} mb-4 shadow">
            <div class="card-header {{'headerWin' if data.puntos_local > data.puntos_visita }}">
                <h4 class="my-0 font-weight-normal">
                    <img src="../static/images/{{data.home}}.png">
                    Equipo Local
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    {{data.home}} <small class="text-muted">/ {{data.pos_local}}</small>
                </h1>
                <ul class="list-unstyled cf list-group list-group-horizontal border-radius-xl mt-3">
                    <li class="li-left-radius">
                        <p class="txt-dato-ppal">{{data.wins_local}}</p>
                        <p class="txt-ppal">ganados</p>
                        <hr class="vertical hr-white">
                    </li>
                    <li>
                        <p class="txt-dato-ppal">{{data.lose_local}}</p>
                        <p class="txt-ppal">perdidos</p>
                        <hr class="vertical hr-white">
                    </li>
                    <li class="li-right-radius">
                        <p class="txt-dato-ppal">{{data.emp_local}}</p>
                        <p class="txt-ppal">empatados</p>
                    </li>
                </ul>
            </div>

            <div class="card-body mb-2 card-ultpartidos">
                <div class="pl-1 pt-1 div-title">
                    <h6>Últimos partidos</h6>
                </div>
                <div>
                    <ul class="list-unstyled cu list-group list-group-horizontal">
                        <li>
                            <p class="txt-dato-ultp">G</p>
                            <p class="txt-ultp">valencia</p>
                            <hr class="vertical hr-grey">
                        </li>
                        <li>
                            <p class="txt-dato-ultp">E</p>
                            <p class="txt-ultp">getafe</p>
                            <hr class="vertical hr-grey">
                        </li>
                        <li>
                            <p class="txt-dato-ultp">P</p>
                            <p class="txt-ultp">rayo</p>
                            <hr class="vertical hr-grey">
                        </li>
                        <li>
                            <p class="txt-dato-ultp">G</p>
                            <p class="txt-ultp">mallorca</p>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="card {{'border-success' if data.puntos_visita > data.puntos_local }} mb-4 shadow">
            <div class="card-header {{'headerWin' if data.puntos_visita > data.puntos_local }}">
                <h4 class="my-0 font-weight-normal">
                    <img src="../static/images/{{data.visit}}.png">
                    Equipo Visitante
                </h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    {{data.visit}} <small class="text-muted">/ {{data.pos_visita}}</small></h1>
                <ul class="list-unstyled cf list-group list-group-horizontal border-radius-xl mt-3">
                    <li class="li-left-radius">
                        <p class="txt-dato-ppal">{{data.wins_visita}}</p>
                        <p class="txt-ppal">ganados</p>
                        <hr class="vertical hr-white">
                    </li>
                    <li>
                        <p class="txt-dato-ppal">{{data.lose_visita}}</p>
                        <p class="txt-ppal">perdidos</p>
                        <hr class="vertical hr-white">
                    </li>
                    <li class="li-right-radius">
                        <p class="txt-dato-ppal">{{data.emp_visita}}</p>
                        <p class="txt-ppal">empatados</p>
                    </li>
                </ul>
            </div>

            <div class="card-body mb-2 card-ultpartidos">
                <div class="pl-1 pt-1 div-title">
                    <h6>Últimos partidos</h6>
                </div>
                <div>
                    <ul class="list-unstyled cu list-group list-group-horizontal">
                        <li>
                            <p class="txt-dato-ultp">G</p>
                            <p class="txt-ultp">valencia</p>
                            <hr class="vertical hr-grey">
                        </li>
                        <li>
                            <p class="txt-dato-ultp">E</p>
                            <p class="txt-ultp">getafe</p>
                            <hr class="vertical hr-grey">
                        </li>
                        <li>
                            <p class="txt-dato-ultp">P</p>
                            <p class="txt-ultp">rayo</p>
                            <hr class="vertical hr-grey">
                        </li>
                        <li>
                            <p class="txt-dato-ultp">G</p>
                            <p class="txt-ultp">mallorca</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Estadisticas -->
    <div class="d-flex align-items-center mt-3 mb-3 m-titles">
        <i class="material-icons mr-3 h3">mode_edit_outline</i>
        <h3 class="mb-0">Estadisticas Goles</h3>
    </div>
    <hr>

    <div class="col-12 col-lg-6 col-xl z-index-2 border-radius-xl mt-n10 mx-auto mb-3 my-2 py-3 blur shadow m-border">
        <div class="row">

            <!--media marcados locales-->
            <div class="col-md-3 position-relative">
                <div class="text-center">
                    <h5 class="mt-3">Media Goles Marcados como Local <b>{{data.home}}</b></h5>
                    <hr>
                    <h1 class="text-gradient text-primary">
                        <span class="badge 
                            {{'badge-soft-warning' if data.tm_marcados_encasa > data.m_marcados_encasa }}  
                            {{'badge-soft-success' if data.m_marcados_encasa > data.tm_marcados_encasa }}  
                            rounded-pill fs--2">
                            <i class="material-icons">arrow_drop_up</i>
                            {{(data.m_marcados_encasa - data.tm_marcados_encasa)|round(2)}}
                        </span>
                        <span id="state1" countto="300">{{data.m_marcados_encasa}}</span>
                        <span class="text-totales">/ {{data.tm_marcados_encasa}}</span>
                    </h1>

                    <p class="text-sm">
                        Valor de la media de goles marcados por el equipo local en su campo en las últimas 5 temporadas,
                        y
                        la media de goles en local de todos los equipo
                    </p>
                </div>
                <hr class="vertical dark">
            </div>

            <!--media recibidos locales-->
            <div class="col-md-3 position-relative">
                <div class="text-center">
                    <h5 class="mt-3">Media Goles Recibidos como Local <b>{{data.home}}</b></h5>
                    <hr>
                    <h1 class="text-gradient text-primary">
                        <span class="badge
                            {{'badge-soft-warning' if data.m_recibidos_encasa > data.tm_recibidos_encasa }}  
                            {{'badge-soft-success' if data.tm_recibidos_encasa > data.m_recibidos_encasa }}  
                            rounded-pill fs--2">
                            <i class="material-icons">arrow_drop_up</i>
                            {{(data.tm_recibidos_encasa - data.m_recibidos_encasa)|round(2)}}
                        </span>
                        <span id="state2" countto="100">{{data.m_recibidos_encasa}}</span>
                        <span class="text-totales">/ {{data.tm_recibidos_encasa}}</span>
                    </h1>

                    <p class="text-sm">
                        Valor de la media de goles recibidos por el equipo local en su campo en las últimas 5
                        temporadas, y
                        la media de goles recibidos en local de todos los equipo</p>
                </div>
                <hr class="vertical dark">
            </div>

            <!--media marcados visitantes-->
            <div class="col-md-3 position-relative">
                <div class="text-center">
                    <h5 class="mt-3">Media Goles Marcados como Visitante <b>{{data.visit}}</b></h5>
                    <hr>
                    <h1 class="text-gradient text-primary">
                        <span class="badge 
                            {{'badge-soft-warning' if data.tm_marcados_envisita > data.m_marcados_envisita }}  
                            {{'badge-soft-success' if data.m_marcados_envisita > data.tm_marcados_envisita }}  
                            rounded-pill fs--2">
                            <i class="material-icons">arrow_drop_up</i>
                            {{(data.m_marcados_envisita - data.tm_marcados_envisita)|round(2)}}
                        </span>
                        <span id="state2" countto="100">{{data.m_marcados_envisita}}</span>
                        <span class="text-totales">/ {{data.tm_marcados_envisita}}</span>
                    </h1>

                    <p class="text-sm">
                        Valor de la media de goles marcados por el equipo visitante fuera de su campo en las últimas 5
                        temporadas, y la media de goles marcados fuera de casa de todos los equipo</p>
                </div>
                <hr class="vertical dark">
            </div>

            <!--media recibidos visitante-->
            <div class="col-md-3">
                <div class="text-center">
                    <h5 class="mt-3">Media Goles Recibidos como Visitante <b>{{data.visit}}</b></h5>
                    <hr>
                    <h1 class="text-gradient text-primary" id="state3" countto="39">
                        <span class="badge 
                            {{'badge-soft-warning' if data.m_recibidos_envisita > data.tm_recibidos_envisita}}  
                            {{'badge-soft-success' if data.tm_recibidos_envisita > data.m_recibidos_envisita }}  
                            rounded-pill fs--2">
                            <i class="material-icons">arrow_drop_up</i>
                            {{(data.tm_recibidos_envisita - data.m_recibidos_envisita)|round(2)}}
                        </span>
                        <span id="state2" countto="100">{{data.m_recibidos_envisita}}</span>
                        <span class="text-totales">/ {{data.tm_recibidos_envisita}}</span>
                    </h1>

                    <p class="text-sm">
                        Valor de la media de goles recibidos por el equipo visitante fuera de su campo en las últimas 5
                        temporadas, y la media de goles recibidos fuera de casa de todos los equipo</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Formula -->
    <div class="d-flex align-items-center mt-5 mb-3 m-titles">
        <i class="material-icons mr-3 h3">euro</i>
        <h3 class="mb-0">Fórmula Aplicada</h3>
    </div>
    <hr>

    <div class="bd-callout bd-callout-info">
        <p>
            <b>Distribucion de Poisson: </b>Muestra el número probable de veces que ocurrira un evento en un periodo de
            tiempo predeterminado.
        </p>
        <p>En el análisis necesitamos dos parámetros, lambda (&lambda;) es la mediana de goles en 90 minutos. En nuestro
            pronóstico es
            la mediana de goles en un partido de fútbol por cada uno de los equipos. Por otro lado, x es el número de goles en un
            partido que podría marcar el equipo local o el equipo visitante, en nuestro caso entre 0 y 10 goles.
        </p>
    </div>

    <div class="col-12 col-lg-6 col-xl z-index-2 border-radius-xl mt-n10 mx-auto mb-3 my-2 py-3 blur shadow m-border">
        <div class="row">
            <div class="col-md-4 position-relative">
                <div class="text-center">
                    <img src="../static/images/poisson_formula.png">
                </div>
                <hr class="vertical dark">
            </div>

            <div class="col-md-8 position-relative">
                <div class="text-center">
                    <p class="text-sm text-formu color-home"><b>- &lambda; local {{data.home}}: </b>
                        <span class="badge badge-pill badge-primary text-sm">{{data.lambda_local}}</span>
                    </p>
                    <p class="text-sm text-formu">media goles marcados en casa {{data.home}}
                        <span class="badge badge-pill badge-light text-sm">{{data.m_marcados_encasa}}</span> *
                        media goles recibidos fuera {{data.visit}}
                        <span class="badge badge-pill badge-light text-sm">{{data.m_recibidos_envisita}}</span>
                    </p>
                    <p class="text-sm text-formu color-visit"><b>- &lambda; visitante {{data.visit}}:</b> <span
                            class="badge badge-pill badge-info text-sm">{{data.lambda_visita}}</span></p>
                    <p class="text-sm text-formu">media goles marcados fuera {{data.visit}}
                        <span class="badge badge-pill badge-light text-sm">{{data.m_marcados_envisita}}</span> *
                        media goles recibidos en casa {{data.home}}
                        <span class="badge badge-pill badge-light text-sm">{{data.m_recibidos_encasa}}</span>
                    </p>
                    <div class="col-12 col-lg-6 col-xl z-index-2">
                        <div class="row nomargin">
                            <div class="col-md-4 position-relative nopaddingr">
                                <div class="card h-100 shadow_porc">
                                    <div class="card-header bg-light d-flex flex-between-center py-2">
                                        <h6 class="mb-0 h6small">% Empate</h6>
                                    </div>
                                    <div class="card-body flex-center card_black">
                                        <p class="text-sm text_italicGrey">(0,0) + (1,1) + ... + (10,10)</p>
                                        <span class="text_porc">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                data-icon="check"
                                                class="svg-inline--fa fa-check fa-w-16 text-success mr-1 {{'tick_display' if data.porc_win == 'draw' }}"
                                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                style="transform-origin: 0.5em 0.5em;height: 25px;width: 25px; display:none">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor"
                                                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                                            transform="translate(-256 -256)"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                            {{data.prob_draw}} %</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 position-relative nopaddingr">
                                <div class="card h-100 shadow_porc">
                                    <div class="card-header bg-light d-flex flex-between-center py-2">
                                        <h6 class="mb-0 h6small">% Gana Local {{data.home}}</h6>
                                    </div>
                                    <div class="card-body flex-center card_black">
                                        <p class="text-sm text_italicGrey">(1,0) + (2,0) + ... + (10, 9)</p>
                                        <span class="text_porc">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                data-icon="check"
                                                class="svg-inline--fa fa-check fa-w-16 text-success mr-1 {{'tick_display' if data.porc_win == 'home' }}"
                                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                style="transform-origin: 0.5em 0.5em;height: 25px;width: 25px; display:none">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor"
                                                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                                            transform="translate(-256 -256)"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                            {{data.prob_home}} %</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card h-100 shadow_porc">
                                    <div class="card-header bg-light d-flex flex-between-center py-2">
                                        <h6 class="mb-0 h6small">% Gana Visitante {{data.visit}}</h6>
                                    </div>
                                    <div class="card-body flex-center card_black">
                                        <p class="text-sm text_italicGrey">(0,1) + (0,2) + ... + ( 9,10)</p>
                                        <span class="text_porc">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                data-icon="check"
                                                class="svg-inline--fa fa-check fa-w-16 text-success mr-1 {{'tick_display' if data.porc_win == 'away' }}"
                                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                style="transform-origin: 0.5em 0.5em;height: 25px;width: 25px;display:none">
                                                <g transform="translate(256 256)">
                                                    <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                                        <path fill="currentColor"
                                                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                                            transform="translate(-256 -256)"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                            {{data.prob_away}} %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grafico -->
    <div class="d-flex align-items-center mt-5 mb-3 m-titles">
        <i class="material-icons mr-4 h3">leaderboard</i>
        <h3 class="mb-0">Distribucion Probabilidades</h3>
    </div>
    <hr>

    <canvas id="myChart" height="100" class="border-radius-xl m-border"></canvas>
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart');
        var barData = {
            home: [
                {% for item in data.data_home %}
                    {{ item }},
                {% endfor %}
	    ],
        visit: [
            {% for item in data.data_visit %}
                {{ item }},
            {% endfor %}
        ]}

        var _type = '{{typeChart}}'
        var myChart = new Chart(ctx, {
            type: _type,
            data: {
                labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
                datasets: [{
                    label: '{{data.home}}' + ' Local',
                    data: barData.home,
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                }, {
                    label: '{{data.visit}}' + ' Visitante',
                    data: barData.visit,
                    backgroundColor: ['rgba(75, 192, 192, 0.2)'],
                    borderColor: ['rgba(75, 192, 192, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Moola',
                            fontSize: 20
                        }
                    }]
                }
            }
        });
    </script>

    <!-- encuestas -->
    <div class="d-flex align-items-center mt-5 mb-3 m-titles">
        <i class="material-icons mr-4 h3">leaderboard</i>
        <h3 class="mb-0">Estado Encuestas</h3>
    </div>
    <hr>

    <div class="col-12 col-lg-6 col-xl z-index-2 border-radius-xl mt-n10 mx-auto mb-3 my-2 py-3 blur shadow m-border">
        <div class="row">

            <!--bwin-->
            <div class="col-md-4 position-relative">
                <div class="header-encuestas border-0 pt-9">
                    <div class="card-title m-0">
                        <div class="symbol symbol-45px bg-light">
                            <img src="../static/images/bwin.png" alt="image" class="p-2" style="height: 48px;">
                        </div>
                    </div>
                    
                    <div class="card-toolbar">
                        <span class="badge badge-light-error me-auto px-4 py-3
                        {{'badge-light-success' if data.bwin['found']=='True' }}">{{data.bwin['text']}}</span>
                    </div>
                </div>
                <div class="header-encuestas border-0 pt-9">
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>1</div>
                        <div>{{data.bwin['valor_1']}}</div>
                    </div>
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>X</div>
                        <div>{{data.bwin['valor_x']}}</div>
                    </div>
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>2</div>
                        <div>{{data.bwin['valor_2']}}</div>
                    </div>
                </div>
                <hr class="vertical dark">
            </div>

            <!--william-->
            <div class="col-md-4 position-relative">
                <div class="header-encuestas border-0 pt-9">
                    <div class="card-title m-0">
                        <div class="symbol symbol-45px bg-light">
                            <img src="../static/images/wh-logo.png" alt="image" class="p-2" style="height: 48px;">
                        </div>
                    </div>
                    
                    <div class="card-toolbar">
                        <span class="badge badge-light-error me-auto px-4 py-3
                        {{'badge-light-success' if data.william['found']=='True' }}">{{data.william['text']}}</span>
                    </div>
                </div>
                <div class="header-encuestas border-0 pt-9">
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>1</div>
                        <div>{{data.william['valor_1']}}</div>
                    </div>
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>X</div>
                        <div>{{data.william['valor_x']}}</div>
                    </div>
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>2</div>
                        <div>{{data.william['valor_2']}}</div>
                    </div>
                </div>
                <hr class="vertical dark">
            </div>

            <!--poker-->
            <div class="col-md-4 position-relative">
                <div class="header-encuestas border-0 pt-9">
                    <div class="card-title m-0">
                        <div class="symbol symbol-45px bg-light">
                            <img src="../static/images/poker.png" alt="image" class="p-2" style="height: 48px;">
                        </div>
                    </div>
                    
                    <div class="card-toolbar">
                        <span class="badge badge-light-error me-auto px-4 py-3
                        {{'badge-light-success' if data.poker['found']=='True' }}">{{data.poker['text']}}</span>
                    </div>
                </div>
                <div class="header-encuestas border-0 pt-9">
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>1</div>
                        <div>{{data.poker['valor_1']}}</div>
                    </div>
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>X</div>
                        <div>{{data.poker['valor_x']}}</div>
                    </div>
                    <div class="fs-2 fw-bolder text-dark div_value_bit">
                        <div>2</div>
                        <div>{{data.poker['valor_2']}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla resultado -->
    <div class="d-flex align-items-center mt-5 mb-3 m-titles">
        <i class="material-icons mr-4 h3">table_chart</i>
        <h3 class="mb-0">Histórico Partidos</h3>
    </div>
    <hr>

    <div class="d-flex col-lg-12 col-xl-12 padbutton20">
        <div class="flex-fill w-100 card shadow-sm">
            <div class="card-header">
                <div class="card-actions float-right">
                    <div class="dropdown"><a aria-haspopup="true" class="" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </a>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Action</button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Another
                                Action</button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Something else here
                            </button>
                        </div>
                    </div>
                </div>
                <h5 class="mb-0 card-title">Histórico de partidos por jornadas</h5>
            </div>
            <!-- render dataframe -->
            {% for table in tables %}
            {{ table|safe }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}