{% extends 'base.html' %}
{% block content %}
<div>
    
    <div class="container">
        <form id="form-main" action="goal" method="post">
            <h1 class="pt-5 tit-mob">Pronósticos de Fútbol</h1>
            <div class="search-bar p-3 p-lg-1 pl-lg-4">
                <div class="row">
                    <div class="d-flex linerseparator align-items-center form-group col-lg-3">
                        <input type="text" placeholder="Selecciona Local vs Visitante"
                            class="border-0 shadow-0 form-control">
                    </div>

                    <!--Home Select-->
                    <div class="d-flex linerseparator align-items-center form-group col-md-12 col-lg-3">
                        <select id="select-home" name="selecthome" class="form-control form-control-lg">
                            {% for team in teams %}
                            <option>{{ team }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--Visit Select-->
                    <div class="d-flex linerseparator align-items-center form-group no-divider col-md-12 col-lg-3">
                        <select id="select-visit" name="selectvisit" class="form-control form-control-lg">
                            {% for team in teams %}
                            <option>{{ team }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--Toggle apuestas-->
                    <div class="d-flex align-items-center form-group mt-mobile5 tg-mobile no-divider col-md-12 col-lg-1">
                        <label class="switch">
                            <input name="chapuestas" type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        <a class="toggle-apuestas">apuestas</a>
                    </div>

                    <!--Search-->
                    <div class="col-lg-2 mt-mobile5">
                        <button value="submit" class="btn-indexFind btn btn-success btn-block h-100 rounded-xl"
                            id="searchButton" onclick="this.disabled=true;this.form.submit();">
                            <span class="spinner-border spinner-border-sm" style="display: none;" role="status"
                                aria-hidden="true" id="searchSpinn"></span>
                            Buscar
                        </button>
                        <script>
                            document.getElementById("searchButton").addEventListener("click", myFunction);

                            function myFunction() {
                                document.getElementById('searchSpinn').style.display = "inline-flex";
                                $('#select-home').addClass('selectDisabled');
                                $('#select-visit').addClass('selectDisabled');
                            }
                        </script>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <section class="previews">
        <div class="container w-100">
            <div class="row">
                <div class="col-sm-12 col-lg-6 ml-0 text-center mt-4 mb-md-5">
                    <h2 class="text-left tit-mob">
                        <img src="https://cdn1.todoporelfutbol.com/images/competitions/small/spain-laliga-logo-1967-43.png"
                            alt="LaLiga 2022/23" title="LaLiga 2022/23" width="auto">
                        La Liga
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-12">
                <div class="card card-table">
                    <div class="card-header">
                        <div class="title">Pŕoximos Partidos</div>
                    </div>
                    <div class="card-body-mob card-body table-responsive">
                        {% for resultado in resultados %}
                        <form id="form-next-{{resultado.local}}" action="goal" method="post">
                            <div class="panel panel-match">
                                <div class="panel-body panel-row-match">
                                    <div class="row match-row">
                                        <input type="hidden" name="inApuestas" value="on">
                                        <div class="col-2 col-md-1 col-match-date">
                                            <a class="hour" data-toggle="tooltip" data-placement="top">
                                            <span class="datetimeToTimezone">{{resultado.hora}}</span></a>
                                            <span class="datetimeToTimezone date" data-format="D MMM">{{resultado.dia}}</span>
                                        </div>
                                        <div class="col-lg-4 col-7 match-row-team1">
                                            <input value="{{resultado.local}}" name="selecthome">
                                            <img src="../static/images/{{resultado.local}}.png" width="26">
                                        </div>
                                        <div class="col-2 col-md-1 match-row-result">
                                            <span id="id{{resultado.local}}" class="match-result-bg" onclick="document.forms['form-next-{{resultado.local}}'].submit();">
                                                <span class="spinner-border spinner-border-sm" role="status" style="display: none;"
                                                    aria-hidden="true" id="searchSpinn-{{resultado.local}}"></span>
                                                <a id="vs{{resultado.local}}">vs</a>
                                            </span>
                                            <script>
                                                document.getElementById("id{{resultado.local}}").addEventListener("click", funcNext);
                    
                                                function funcNext() {
                                                    document.getElementById('searchSpinn-{{resultado.local}}').style.display = "inline-flex";
                                                    document.getElementById('vs{{resultado.local}}').style.display = "none";
                                                    $('#select-home').addClass('selectDisabled');
                                                    $('#select-visit').addClass('selectDisabled');
                                                    document.getElementById('searchButton').disabled=true;
                                                }
                                            </script>
                                        </div>
                                        <div class="col-lg-4 col-7 match-row-team2">
                                            <img src="../static/images/{{resultado.visitante}}.png" width="26">
                                            <input value="{{resultado.visitante}}" name="selectvisit">
                                        </div>
                                        <div class="match-more-arrow d-none d-lg-block">
                                            <a><i class="material-icons mr-3 h3 mt10">arrow_right_alt</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}