{% extends 'base.html' %}

{% block content %}
<div class="container width-mobil pt-3">
    <!-- Navegacion jornadas  p-3 p-lg-1 pl-lg-4-->
    <div class="search-bar bck-jor p-2">
        <form action="{{ url_for('quiniela')}}">
            <div class="row">
                <div class="d-flex form-group col-lg-2 jorn-anterior">
                    <button name="btnjornada-ant" value="{{int_jornada - 1}}" class="btn btn-outline-secondary btn-block h-100 rounded-xl">
                        &#60; Jornada {{int_jornada - 1}}
                    </button>
                </div>

                <div class="d-flex align-items-center form-group col-lg-8 jorn-center ">
                    <div>
                        <select name=jornada class="form-control form-control-lg" onchange="this.form.submit()">
                            {% for jornada in jornadas %}
                            {% if 'Jornada ' + jornada|string==tit_table %}
                            <option value="{{jornada}}" selected>Jornada {{jornada}}</option>
                            {% else %}
                            <option value="{{jornada}}">Jornada {{jornada}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="d-flex form-group col-lg-2 jorn-posterior">
                    <button name="btnjornada-sig" value="{{int_jornada + 1}}" class="btn btn-outline-secondary btn-block h-100 rounded-xl">
                        Jornada {{int_jornada + 1}} &#62;
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Tabla resultado -->
    <div class="d-flex col-lg-12 col-xl-12 padbutton20">
        <div class="flex-fill w-100 card shadow-sm">
            <div class="card-header">
                <div class="card-actions float-right">
                    <div class="dropdown"><a aria-haspopup="true" class="" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </a>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Action</button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Another
                                Action</button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Something else here
                            </button>
                        </div>
                    </div>
                </div>
                <h5 class="mb-0 card-title">{{tit_table}}
                    <span class="date_jornada">{{date_event}}</span>
                </h5>
                <table class="table table-hover table-lg-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="tdmobil"></th>
                            <th scope="col">Local</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Visitante</th>
                            <th colspan="3" scope="col">Pronostico</th>
                            <th scope="col" class="tdmobil">Acierto?</th>
                        </tr>
                    </thead>
                    <tbody class="tdbody-light">
                        {% for resultado in resultados %}
                        <tr>
                            <th scope="row" class="tdmobil">{{resultado.count}}</th>
                            <td>{{resultado.local}}</td>
                            <td><img src="../static/images/{{resultado.local}}.png"></td>
                            <td class="td-result">{{resultado.result_local}}</td>
                            <td class="td-result">{{resultado.result_visita}}</td>
                            <td><img src="../static/images/{{resultado.visitante}}.png"></td>
                            <td class="td-border-right">{{resultado.visitante}}</td>
                            <!--gana local-->
                            <td class="td-bg-pronost">
                                <div class="{{'pronost icon icon-shape icon-sm shadow-sm border-radius-md text-center d-flex align-items-center justify-content-center' if resultado.pronost_local > resultado.pronost_visita }}">
                                    <span>1</span>
                                </div>
                            </td>
                            <!--empate-->
                            <td class="td-bg-pronost">
                                <div class="{{'pronost icon icon-shape icon-sm shadow-sm border-radius-md text-center d-flex align-items-center justify-content-center' if resultado.pronost_visita == resultado.pronost_local }}">
                                    <span>X</span>
                                </div>
                            </td>
                            <!--gana visita-->
                            <td class="td-border-right td-bg-pronost">
                                <div class="{{'pronost icon icon-shape icon-sm shadow-sm border-radius-md text-center d-flex align-items-center justify-content-center' if resultado.pronost_visita > resultado.pronost_local }}">
                                    <span>2</span>
                                </div>
                            </td>
                            <td class="acierto tdmobil">
                                <i class="material-icons mr-3">close</i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}